
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'Juana';
    src: url('/Juana-Bold.otf') format('truetype');
}


    .background {
        background-color: #60305B;
        margin: 2rem;
        padding: 0;
    }
    
    .two-column-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    
    .image {
        margin: 0;
        padding: 0;
        height: auto;
        width: 55%;
    }
    
    .right-side-container {
        background: #f4eddf;
        background-image: url("/leafbg.jpg");
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 5rem;
        width: 100%;
    }
    
    .headline {
        font-size: 1.5rem;
        font-family: 'Juana', sans-serif;
        color: #60305B;
        text-align: center;
        margin: 0rem 2rem;
        padding: 0;
    }
    
    .caption {
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
        color: #60305B;
        text-align: center;
        margin: 0 1.5rem 1.5rem 1.5rem;
        padding: 0;
    }
    
    .form-container {
        /*background: #F4EDDF;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .form-inputs {
        /*background-color: #F4EDDF;*/
        background: none;
        font-family: 'Juana', sans-serif;
        border-top: none;
        border-right: 0;
        border-left: 0;
        width: 15rem;
        border-color: #60305B;
        flex-direction: column;
        margin: 0.5rem 0;
        padding: 0;
    }
    
    .form-inputs::placeholder {
        font-weight: bolder;
        text-align: center;
        color: #60305B;
        margin: 0;
        padding: 0;
    }
    
    .form-button {
        font-family: 'Juana', sans-serif;
        border: none;
        background-color: #B7798E;
        margin: 2rem 0;
        padding: 0;
        height: 2rem;
        width: 10em;
        color: #F4EDDF;
        cursor: pointer;
    }

    .form-button:hover {
        background-color: #60305B; /* Color on hover */
    }

    .feedback {
        margin-top: 1rem;
        color: #333;
        transition: opacity 0.5s ease; /* Fading transition */
    }

    .success {
        color: green;
    }

    .error {
        color: red;
    }





@media (max-width: 1200px) {
    .headline {
        font-size: 1rem;
    }

    .caption {
        font-size: 1rem;
        margin: 0 1rem 1rem 1rem;
    }
    .image {
        width: 60%;
    }

}

@media (max-width: 1000px) {

    .two-column-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .background {
        margin: 1em;
    }

    .image  {
        width: 100%;
    }
    

    .right-side-container {
        justify-content: space-between;
        margin: 0;
        padding: 2rem 0;
        width: 100%;
    }
    

    .headline {
        margin: 0rem 1.5rem;
        padding: 0;
        font-size: 0.75rem;
    }

    .caption {
        margin:0 1.2rem;
        padding: 0;
        font-size: 0.75rem;
    }

    .form-inputs::placeholder {
        font-weight: bolder;
        text-align: center;
        color: #60305B;
        margin: 0;
        padding: 0;
    }
    
    .mobile-form-button {
        font-family: 'Juana', sans-serif;
        border: none;
        background-color: #B7798E;
        margin: 2rem 0;
        padding: 0;
        height: 2rem;
        width: 10em;
        color: #F4EDDF;
        cursor: pointer;
    }

    .mobile-form-button:hover {
        background-color: #60305B; /* Color on hover */
    }

    .feedback {
        margin-top: 0.5rem;
        color: #333;
        transition: opacity 0.5s ease; /* Fading transition */
    }

    .success {
        color: green;
    }

    .error {
        color: red;
    }


}
